:root {
    /* Base settings */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.85vw;

    /* Colors */
    --background-color: rgba(255, 254, 239, 1);
    --secondary-background-color: rgba(255, 255, 255, 1);
    --border-color: rgba(0, 0, 0, 1);
    --primary-text-color: rgba(58, 71, 255, 1);
    --secondary-text-light-color: rgba(121, 129, 247, 1);
    --dark-text-color: rgba(0, 0, 0, 1);
    --background-light-blue: rgba(217, 215, 255, 1);
    --required-star: rgba(217, 215, 255, 1);
    --notification-background: rgba(248, 120, 55, 1);

    /* Fonts */
    --font-text: "Inter", sans-serif;
    --font-title: "Special Gothic Expanded One", sans-serif;
    --text-size: 2.25rem;
    --text-big-size: 3rem;
    --text-small-size: 1.5rem;
    --title-big-size: 12.5rem;
    --title-size: 5rem;

    /* Icons */
    --icon-size: 4rem;
    --icon-size-small: 3rem;


}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: ;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@media (min-width: 768px) {

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 6.25rem;
    gap: 2rem;
}
#home .home-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    flex: 1;
}
#home .home-header .open-status {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#home .home-header .open-status h2 {
    font-family: var(--font-text);
    font-size: var(--text-size);
    font-weight: 400;
}
#home .home-header .open-status-icon {
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
#home .home-header .open-status-icon img {
    width: 100%;
    height: 100%;
}
#home .alert {
    display: flex;
    align-items: center;
    background-color: var(--notification-background);
    border-radius: 0.625rem;
    gap: 2rem;
    width: fit-content;
    padding: 1.0625rem 1.625rem;
}
#home .alert .alert-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: cover;
    object-position: center;
}
#home .alert .alert-icon img {
    width: 100%;
    height: 100%;
}
#home .alert .alert-text {

}
#home .title {
    font-family: var(--font-title);
    font-size: var(--title-big-size);
    color: var(--primary-text-color);
}
#home nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 0.625rem;
    border: 0.4px solid var(--border-color);
    overflow: hidden;
    text-align: center;
}
#home nav a {
    border: solid var(--border-color);
    border-width: 0 0.4px;
    width: 21.55rem;
    height: 6.5625rem;
    align-content: center;
    font-size: var(--text-small-size);
    color: var(--dark-text-color);
    transition: all 0.2s ease-in-out;
}
#home nav a:hover {
    background-color: var(--primary-text-color);
    color: var(--background-color);
    border-color: var(--primary-text-color);
}
#home #home-main {
    width: 100%;
    height: 32.3vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
#home #home-main .home-main-text {
    width: 50vw;
    text-overflow: fade;
    text-wrap: wrap;
    text-align: center;
}
#home #home-main .home-main-text h2 {
    font-size: var(--text-big-size);
    font-weight: 400;
    color: var(--primary-text-color);
}
#home #home-main .home-main-text h3 {
    margin-top: 2rem;
    font-size: var(--text-size);
    font-weight: 300;
    color: var(--secondary-text-light-color);
}
#home #home-main .home-main-image {
    height: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 1.25rem;
}
#home #home-main .home-main-image img {
    width: 100%;
    height: 100%;
}
#opening-table {
    font-family: var(--font-title);
    font-size: var(--title-size);
    color: var(--primary-text-color);
}
}