:root {
    /* Colors */
    --background-color: rgba(255, 254, 239, 1);
    --secondary-background-color: rgba(255, 255, 255, 1);
    --primary-text-color: rgba(58, 71, 255, 1);
    --secondary-text-light-color: rgba(121, 129, 247, 1);
    --dark-text-color: rgba(0, 0, 0, 1);
    --background-light-blue: rgba(217, 215, 255, 1);
    --required-star: rgba(217, 215, 255, 1);
    --notification-background: rgba(217, 215, 255, 1);

    /* Fonts */
    --font-text: "Inter", sans-serif;
    --font-title: "Special Gothic Expanded One", sans-serif;
    --text-size: 2rem;
    --text-big-size: 2.5rem;
    --text-small-size: 1.5rem;
    --title-size: 12.5rem;

    /* Icons */
    --icon-warning: url(assets/warning.svg);
    --icon-size: 5.3125rem;


}
body {
    margin: 0;
    padding: 0;
}

