/* Fonts */
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: RobotoItalic;
    src: url(assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
/* General */
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}
body {
    background-color: #FFFEEE;
}
.singleFlexItem {
    flex: 1;
}
.doubleFlexItem {
    flex: 2;
}
.flexAlign {
    display: flex;
    align-items: center;
}
.justifyCenter {
    justify-content: center;
}
h1 {
    color: #3A47FF;
    font-size: 170px;
    margin: 20px;
}
h4 {
    font-size: 26px;
}
/* Warning */
.oransjeBoks {
    background-color: #F87837;
    border-radius: 10px;
    font-size: 24px;
    padding: 5px;
}
.varslingBilde {
    width: 65px;
    height: 65px;
    margin-right: 30px;
}

/* Header */
.navBar {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}
.navBar div {
    display: flex;
    width: 275px;
    height: 75px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #1E1E78;
}
.tempHeight {
    height: 100px;
}